body {
    height:100%;
    width:100%;
    background-image: url("../img/nearby-friends-logo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#wrap {
	width: 90%;
	margin: auto;
	background-color: #EEECEF;
}

#wrap input {
	width: 100%;
	margin: 10px 0;
}